﻿@model IEnumerable<MvcDemo4.Models.Tesla>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body  {
    background-image:url("http://www.car-brand-names.com/wp-content/uploads/2015/05/Tesla-Motors-logo-2.jpg") ;
    
    
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;

    }
    </style>
  
</head>
<body >
    

      


    <style>
 table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: antiquewhite}
th {
    background-color: silver;
    color: black;
}
    </style>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

   
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorsePower)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorsePower)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
               
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
